@using Spice.Utility;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Spice</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Spice.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/jquery-ui.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.14.0/jquery.timepicker.css" />

</head>
<body class="search-background">
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">
					<img src="~/images/mild.png" />
					<img src="~/images/spicy.png" />
					<img src="~/images/verySpicy.png" />
					<label class="text-info" style="cursor:pointer;">Spice</label>
				</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">

						@if (User.IsInRole(SD.ManagerUser))
						{
							<li class="nav-item dropdown text-white-50">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Content Management
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
									<a class="dropdown-item" asp-action="Index" asp-controller="Category" asp-area="Admin">Category</a>
									<a class="dropdown-item" asp-action="Index" asp-controller="SubCategory" asp-area="Admin">Sub Category</a>
									<a class="dropdown-item" asp-action="Index" asp-controller="MenuItem" asp-area="Admin">MenuItem</a>
									<a class="dropdown-item" asp-action="Index" asp-controller="Coupon" asp-area="Admin">Coupons</a>
									<a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Admin">Users</a>
								</div>
							</li>
						}

						@if (HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssShoppingCartCount) != null)
						{
							<li style="color:white;">
								<a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="nav-link">
									@{
										var count = HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssShoppingCartCount);
									}
									<i class="fas fa-shopping-cart"></i> &nbsp; (@count)
								</a>
							</li>
						}
						else
						{
							<li style="color:white;">
								<a href="#" class="nav-link">
									<i class="fas fa-shopping-cart"></i> &nbsp; (0)
								</a>
							</li>
						}
					</ul>

					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top pl-3 footer text-white-50" style="background-color:#343a40;">
		<div class="container">
			&copy; 2022 - Spice
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/jquery-ui.js"></script>

	<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp"></script>
	<script src="https://kit.fontawesome.com/be883cb128.js" crossorigin="anonymous"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

